<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/bot</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">vladislove</property>
        <property name="connection.password">1602</property>

        <property name="show_sql">true</property>

        <mapping class="model.ApplicationProject"/>
        <mapping class="model.Credentials"/>
        <mapping class="model.JiraProject"/>
        <mapping class="model.LastBuild"/>
        <mapping class="model.ProjectConfiguration"/>
        <mapping class="model.TeamCityProject"/>
        <mapping class="model.TelegramGroup"/>
        <mapping class="model.TelegramLead"/>

    </session-factory>
</hibernate-configuration>